<div class="container">
  <div
    class="fb-login-button"
    data-width="100px"
    data-size="large"
    data-button-type=""
    data-layout=""
    data-auto-logout-link="false"
    data-use-continue-as="false"
  ></div>

  <div
    id="g_id_onload"
    data-client_id="127192852747-j27id0dbps77j4ph6hdnug9a9ttjeoi3.apps.googleusercontent.com"
    data-context="signin"
    data-ux_mode="popup"
    data-login_uri="https://localhost:4200/"
    data-auto_prompt="false"
  ></div>

  <div
    class="g_id_signin"
    data-type="standard"
    data-shape="rectangular"
    data-theme="outline"
    data-text="signin_with"
    data-size="large"
    data-logo_alignment="left"
    data-width="240"
  ></div>
</div>

<div *ngIf="isLoggedin === true">
  <img src="{{ socialUser.photoUrl }}" referrerpolicy="no-referrer" />
  <div>
    <h4>{{ socialUser.name }}</h4>
    <p>{{ socialUser.email }}</p>
  </div>
  <button type="button" (click)="logOut()">Log Out</button>
</div>
